.about_video {
  height: 100vh;
  width: 100%;
  position: fixed;
  bottom: -110%;
  opacity: 0;
  left: 0;
  z-index: 9999;
  transition: 0.6s ease all;
  .container {
    height: 100%;
    .row {
      height: 100%;
      align-items: center;
      justify-content: center;
      .col-lg-10 {
        height: 650px;
        @include flexbox;
        flex-direction: column;
        position: relative;
        z-index: 99999;
        .close_button {
          height: 80px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          svg {
            width: 50px;
            height: 50px;
            fill: $white;
            cursor: pointer;
          }
        }
        iframe {
          height: 500px;
          width: 100%;
        }
      }
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
  &.active {
    transition: 0.4s ease all;
    opacity: 1;
    bottom: 0;
  }
}
